
body {
    background-color: lightgray;
    margin-bottom: 20px 0;
    width: auto;
}

.header {
    background-color: white;
    height: 70px;
    width: auto;
    padding: 20px 30px 15px;
    margin: 10px 0 0;
    position: relative;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.nav {
    background-color: lightgray;
    height: 30px;
    width: auto;
    padding: 20px 30px 15px;
    margin: 10px 0 0;
}
.main {
    background-color: white;
    height: 500px;
    width: auto;
    padding: 20px 30px 15px;
    margin: 10px 0 0;
    position: relative;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header h1 {
    font-family: "Times New Roman", Times, serif;
    color: rgb(116, 7, 7);
    text-align: center;
    margin: 0px 150px 0;
    font-size: 50px;
    font-weight: bold;
    
}
.header img {
    float: left;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    
}
.img {
    vertical-align: middle;
}    

.moviesNavButton{
    position: relative;
    display: inline-block;
}
.theatresNavButton {
    position: relative;
    display: inline-block;
}

/* buttons style */
button {
    size: 20px;
    padding: 8px 60px;
    margin: -15px;
    display: inline-block;
    background-color: transparent;
}
button:hover {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#myBtn {
    position: relative;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    color: black;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    border-radius: 12px;
    margin-right: 200px;
}
#mysecondBtn {
    position: relative;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    color: black;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    border-radius: 12px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* end of button style */
.marvel-shadow {
    position: relative;
    padding: 5px 0px;
    margin: 30px 38px;
    width: 248px;
    display: inline-block;
}
.marvel-shadow:hover{
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Alita-shadow {
    position: relative;
    padding: 5px 0px;
    margin: 30px 38px;
    width: 260px;
    display: inline-block;
}
.Alita-shadow:hover{
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Romantic-shadow {
    position: relative;
    padding: 5px 0px;
    margin: 30px 38px;
    width: 260px;
    display: inline-block;
}
.Romantic-shadow:hover {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menWant-shadow {
    position: relative;
    padding: 10px 0px;
    margin: 30px 38px;
    width: 260px;
    display: inline-block;
}
.menWant-shadow:hover {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 4px 8px 0 rgba(0, 0, 0, 0.19);
}
.marvel-shadow > img {
    display: inline;
    
    
}
.Alita-shadow > img {
    position: relative;
    padding: 8px 10px;
    display: inline-block;
}
.Romantic-shadow > img {
    position: relative;
    padding: 8px 10px;
    display: inline-block;
}
.menWant-shadow > img {
    position: relative;
    padding: 8px 8px; 
    display: inline-block;
}

.movieTitle {
    display: block;
    background: #fff;
    font-size: 1.6em;
    text-align: center;
    padding: 8px .5em;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 30px;
}